body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.message {
    
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px 12px;
    border-radius: 20px;
}

.message-text {
    display: inline-block;
    margin-left: 10px;
    
}

.sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.Leandro {
    color: #075e54;
}

.Julian {
    color: #128c7e;
}

.Marcos {
    color: #25d366;
}

.Fernando {
    color: #3b5998;
}

.Carlos {
    color: #ffeb3b;
}




.incoming {
    text-align: left;
    background-color: #f2f2f2; /* Color de fondo para los mensajes entrantes */
    width: 60%; /* Ancho del mensaje entrante */
}

.outgoing {
    margin-left: auto; /* Alinear a la derecha */
    text-align: left;
    background-color: #dcf8c6; /* Color de fondo para los mensajes salientes */
    width: 60%; /* Ancho del mensaje saliente */
}
